

<div id="sidenav-collapse-container">
    <!-- lists action collapse buttons -->
    <div class="btn-group btn-group-sm" role="group" id="sidenav-collapse-buttons">
        <button type="button" class="btn btn-xs btn-light" data-toggle="collapse" data-target="#sidenav-collapse-sections-filter" title="Filter lists"><i class='bx bx-filter'></i></button>
        <button type="button" class="btn btn-xs btn-light" title="Sort lists"><i class='bx bxs-sort-alt'></i></button>
    </div>

    <div id="sidenav-collapse-sections">

        <!-- filter lists by type (list, template) -->
        <div class="collapse" id="sidenav-collapse-sections-filter">

            <!-- <b>Filter lists:</b> -->

            <form id="sidenav-collapse-sections-filter-form">
                <!-- lists -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="list" checked> Lists
                    </label>
                </div>

                <!-- templates -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="template" checked> Templates
                    </label>
                </div>
            </form>
        </div>
    </div>

</div>