
<div id="sidenav-collapse-container" class="px-3 pt-3">
    <!-- lists action collapse buttons -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group btn-group-sm" role="group" id="sidenav-collapse-buttons">

            <!-- new list -->
            <button type="button" class="btn btn-gray" data-toggle="collapse" data-target="#sidenav-collapse-sections-new-list-form" title="New">
                <i class='bx bx-list-plus'></i>
            </button>
            
            <!-- filter lists by type -->
            <button type="button" class="btn btn-gray" data-toggle="collapse" data-target="#sidenav-collapse-sections-filter" title="Filter lists">
                <i class='bx bx-filter'></i>
            </button>
        </div>
        
        <!-- close sidenav button -->
        <button type="button" class="close" id="sidenav-btn-close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>


    <div id="sidenav-collapse-sections">
        <!-- new list form -->
        <div class="collapse" id="sidenav-collapse-sections-new-list-form">
            {% include 'home/sidenav/new-list-form.html' %}
        </div>

        <!-- filter lists by type (list, template) -->
        <div class="collapse mt-3" id="sidenav-collapse-sections-filter">
            <div class="card card-body">
                <div class="text-muted mb-2">Filter lists</div>

                <form id="sidenav-collapse-sections-filter-form">
                    <!-- lists -->
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="list" checked> Lists
                        </label>
                    </div>
    
                    <!-- templates -->
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="template" checked> Templates
                        </label>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>