{#

Sidenav component for the home page.

Incoming data:
    - lists (collection)
        - id
        - name
        - type
        - created_on
        - modified_on
        - count_items
        - type_icon
    - tags (collection)
        - id
        - name
        - color
        - created_on
#}

<section id="sidenav-container">
    <div id="sidenav">
        {% include 'home/sidenav/collapses.html' %}
        <hr>
        {% include 'home/sidenav/lists-container.html' %}
    </div>
</section>