@import url("https://rsms.me/inter/inter.css");
.color-primary-darkest {
  color: #05012d;
}

.color-primary-darker {
  color: #1a0f8f;
}

.color-primary-dark {
  color: #5045c4;
}

.color-primary-primary {
  color: #8175ff;
}

.color-primary-light {
  color: #a69eff;
}

.color-primary-lighter {
  color: #d0ccff;
}

.color-primary-lightest {
  color: #f6f5ff;
}

.bg-primary-darkest {
  background-color: #05012d;
}

.bg-primary-darker {
  background-color: #1a0f8f;
}

.bg-primary-dark {
  background-color: #5045c4;
}

.bg-primary-primary {
  background-color: #8175ff;
}

.bg-primary-light {
  background-color: #a69eff;
}

.bg-primary-lighter {
  background-color: #d0ccff;
}

.bg-primary-lightest {
  background-color: #f6f5ff;
}

.color-gray-darkest {
  color: #363540;
}

.color-gray-darker {
  color: #535161;
}

.color-gray-dark {
  color: #716f85;
}

.color-gray-primary {
  color: #9493a5;
}

.color-gray-light {
  color: #b5b4c0;
}

.color-gray-lighter {
  color: #d9d8de;
}

.color-gray-lightest {
  color: #faf9fa;
}

.bg-gray-darkest {
  background-color: #363540;
}

.bg-gray-darker {
  background-color: #535161;
}

.bg-gray-dark {
  background-color: #716f85;
}

.bg-gray-primary {
  background-color: #9493a5;
}

.bg-gray-light {
  background-color: #b5b4c0;
}

.bg-gray-lighter {
  background-color: #d9d8de;
}

.bg-gray-lightest {
  background-color: #faf9fa;
}

body {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
  font-size: 16px;
}

.my-shadow,
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.card .card-header {
  background-color: inherit;
}

@media screen and (max-width: 768px) {
  .btn-stretch-sm {
    width: 100%;
  }
}
.card-form-sm {
  max-width: 500px;
}

.no-focus-outline, .no-focus-outline:focus,
.close,
.close:focus {
  outline: none;
  box-shadow: none;
}

.btn-xs {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25;
}

.btn.btn-gray {
  border: 1px solid #d9d8de;
  background-color: #faf9fa;
  font-weight: 500;
  transition: filter 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: rgba(27, 31, 36, 0.04) 0px 1px 0px 0px;
}
.btn.btn-gray:hover, .btn.btn-gray:active, .btn.btn-gray:focus {
  filter: brightness(95%);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#sidenav-container {
  z-index: 110;
  width: 0px;
  margin-left: 0px;
  background-color: white;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #faf9fa;
}

#page.sidenav-open #sidenav-container {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  #page.sidenav-open #sidenav-container {
    width: 400px;
  }
}
#sidenav {
  padding: 10px;
}

#lists-container-wrapper {
  max-height: 85vh;
  overflow-y: auto;
  padding-bottom: 200px;
}

#lists-container {
  overflow-y: auto;
  margin-bottom: 50px;
  border-radius: 0%;
}
#lists-container .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: none;
  background-color: inherit;
}
#lists-container .list-group-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: #9493a5;
}
#lists-container .list-group-item.active {
  background-color: inherit;
  color: inherit;
}
#lists-container .list-group-item.active .list-group-item-name {
  color: #8175ff;
  font-weight: 600;
}
#lists-container .list-group-item-count {
  background-color: #f6f5ff;
  color: #5045c4;
  border: 1px solid #a69eff;
}
#lists-container .list-group-item:hover,
#lists-container .list-group-item:focus {
  background-color: inherit;
}
#lists-container .list-group-item:hover .list-group-item-name,
#lists-container .list-group-item:focus .list-group-item-name {
  filter: brightness(70%);
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 109;
  background-color: rgba(0, 0, 0, 0.3);
  animation: animation-drawer-fade-in 0.3s ease-in-out 1;
}

#main {
  width: 100%;
}

.board-wrapper {
  padding: 0px;
}

.active-lists-board {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
  align-items: flex-start;
}

.active-list {
  min-width: 100%;
  margin: 10px 10px;
  scroll-snap-align: center;
  background-color: #faf9fa;
  border-top: 3px solid #8175ff;
}
.active-list .card-header {
  background-color: inherit;
}
.active-list .card-header .list-header-buttons {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .active-list {
    min-width: 400px;
    width: 400px;
    padding: 20px;
  }
}
.active-list.hide-completed .active-list-item.checked {
  display: none;
}

.active-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px 0px;
}

.active-list-item:hover {
  cursor: move;
}

.active-list-item.checked .active-list-item-content {
  text-decoration: line-through;
}

.active-list-item-content {
  word-break: break-word;
}
.active-list-item-content:hover {
  cursor: text;
}

.active-list-item-content-form {
  display: flex;
  width: 100%;
}

.top-row-buttons-container {
  background-color: #f6f5ff;
  border-bottom: 1px solid #d0ccff;
}

.top-row-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top-row-button {
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .top-row-button {
    font-size: 40px;
  }
}
#modal-list-settings .modal-header {
  border-bottom: 1px solid #a69eff;
  display: flex;
  align-items: center;
  background-color: #d0ccff;
}
#modal-list-settings .modal-title {
  color: #05012d;
  font-weight: 600;
}
#modal-list-settings .modal-list-settings-section {
  margin-bottom: 50px;
}
#modal-list-settings .modal-list-settings-section-header {
  border-bottom: 1px solid #d9d8de;
  padding-bottom: 5px;
  color: #363540;
  margin-bottom: 12px;
  font-size: 2rem;
}
#modal-list-settings .modal-body {
  background-color: #faf9fa;
}

/*# sourceMappingURL=style.css.map */
