$sidenav-lg-width: 400px;

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
    font-size: 16px;
}

// ------------------------------------
// card bg shadow
// ------------------------------------
.my-shadow,
.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.card .card-header {
    background-color: inherit;
}

// ------------------------------------
// Stretch button
// ------------------------------------
@media screen and (max-width: 768px) {
    .btn-stretch-sm {
        width: 100%;
    }
}

.card-form-sm {
    max-width: 500px;
}


// ------------------------------------
// no focus outline on a button
// ------------------------------------
.no-focus-outline,
.close {
    &,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-xs {
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.25;
}

// ------------------------------------
// Scrollbar
// ------------------------------------
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

// ------------------------------------
// Home page - sidebar
// ------------------------------------
#sidenav-container {
    z-index: 110;
    width: 0px;
    margin-left: 0px;
    background-color: white;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

#page.sidenav-open #sidenav-container {
    width: 100vw;
}

// ------------------------------------
// sidenav: don't take up full screen width for larger screens
// ------------------------------------
@media screen and (min-width: 768px) {
    #page.sidenav-open #sidenav-container {
        width: $sidenav-lg-width;
    }
}

#sidenav {
    padding: 10px;
}


// ------------------------------------
// Sidenav: lists container
// ------------------------------------
#lists-container-wrapper {
    max-height: 85vh;
    overflow-y: auto;
}

#lists-container {
    overflow-y: auto;
    margin-bottom: 50px;

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .list-group-item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// ------------------------------------
// sidenav overlay
// ------------------------------------
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 109;
    background-color: rgba(0,0,0,.3);
    // opacity: .5;
    animation: animation-drawer-fade-in .3s ease-in-out 1;
}

#main {
    padding: 10px;
}


// ------------------------------------
// Active lists board
// ------------------------------------
.board-wrapper {
    padding: 0px;
}

.active-lists-board {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
    align-items: flex-start;
}

// ------------------------------------
// Single active list
// ------------------------------------
.active-list {
    min-width: 100%;
    margin: 10px 10px;
    scroll-snap-align: center;

    .card-header {
        background-color: inherit;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .list-header-buttons {
            display: flex;
            align-items: center;
        }
    }
}


@media screen and (min-width: 768px) {
    .active-list {
        min-width: 400px;
        width: 400px;
        padding: 20px;
    }
}

// ------------------------------------
// Active list item
// ------------------------------------
.active-list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;


    &:hover {
        cursor: move;
    }
}

.active-list-item.checked  {
    .active-list-item-content {
        text-decoration: line-through;
    }
}

.active-list-item-content {
    word-break: break-word;

    &:hover {
        cursor: text;
    }
}


.active-list-item-content-form {
    display: flex;
    width: 100%;
}


// ------------------------------------
// Buttons at the top of the main secion
// ------------------------------------
.top-row-buttons { 
    display: flex;
    align-items: center;
    justify-content: space-between;


    .top-row-button {
        font-size: 30px;
    }

    @media screen and (min-width: 768px) {
        .top-row-button {
            font-size: 40px;
        }
    }
}

