@import "./_colors";
@import "./variables";


@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}



$sidenav-lg-width: 400px;

input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select:focus,
textarea {
    font-size: 16px;
}

// ------------------------------------
// card bg shadow
// ------------------------------------
.my-shadow,
.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.card .card-header {
    background-color: inherit;
}

// ------------------------------------
// Stretch button
// ------------------------------------
@media screen and (max-width: 768px) {
    .btn-stretch-sm {
        width: 100%;
    }
}

.card-form-sm {
    max-width: 500px;
}


// ------------------------------------
// no focus outline on a button
// ------------------------------------
.no-focus-outline,
.close {
    &,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

// ------------------------------------
// Really fucking small button
// ------------------------------------
.btn-xs {
    padding: .125rem .25rem;
    font-size: .75rem;
    line-height: 1.25;
}


// ------------------------------------
// Gray button
// ------------------------------------
.btn.btn-gray {
    border: 1px solid map-get($colors-grays, "lighter");
    background-color: map-get($colors-grays, "lightest");
    // color: map-get($colors-grays, "darkest");
    font-weight: 500;
    transition: filter 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: rgba(27, 31, 36, 0.04) 0px 1px 0px 0px;

    &:hover,
    &:active,
    &:focus {
        filter: brightness(95%);
    }
}





// ------------------------------------
// Scrollbar
// ------------------------------------
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

// ------------------------------------
// Home page - sidebar
// ------------------------------------
#sidenav-container {
    z-index: 110;
    width: 0px;
    margin-left: 0px;
    background-color: white;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

#page.sidenav-open #sidenav-container {
    width: 100vw;
}

// ------------------------------------
// sidenav: don't take up full screen width for larger screens
// ------------------------------------
@media screen and (min-width: 768px) {
    #page.sidenav-open #sidenav-container {
        width: $sidenav-lg-width;
    }
}

#sidenav {
    padding: 10px;
}


// ------------------------------------
// Sidenav: lists container
// ------------------------------------
#lists-container-wrapper {
    max-height: 85vh;
    overflow-y: auto;
    padding-bottom: 200px;
}

#lists-container {
    overflow-y: auto;
    margin-bottom: 50px;
    border-radius: 0%;

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border: none;
    }

    .list-group-item.active {
        background-color: map-get($map: $colors-grays, $key: "lightest");
        color: map-get($map: $colors-primary, $key: "darkest");
    }

    .list-group-item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

#sidenav-collapse-sections {
    padding: 10px;
}

// ------------------------------------
// sidenav overlay
// ------------------------------------
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 109;
    background-color: rgba(0,0,0,.3);
    // opacity: .5;
    animation: animation-drawer-fade-in .3s ease-in-out 1;
}

#main {
    width: 100%;
}


// ------------------------------------
// Active lists board
// ------------------------------------
.board-wrapper {
    padding: 0px;
}

.active-lists-board {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    scroll-snap-type: x mandatory;
    align-items: flex-start;
}

// ------------------------------------
// Single active list
// ------------------------------------
.active-list {
    min-width: 100%;
    margin: 10px 10px;
    scroll-snap-align: center;

    .card-header {
        background-color: inherit;

        .list-header-buttons {
            display: flex;
            align-items: center;
        }
    }
}


@media screen and (min-width: 768px) {
    .active-list {
        min-width: 400px;
        width: 400px;
        padding: 20px;
    }
}


.active-list.hide-completed .active-list-item.checked {
    display: none;
}



// ------------------------------------
// Active list item
// ------------------------------------
.active-list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 10px 0px;
    // margin: 10px 0px;
}


.active-list-item:hover {
    cursor: move;
}

.active-list-item.checked  {
    .active-list-item-content {
        text-decoration: line-through;
    }
}

.active-list-item-content {
    word-break: break-word;

    &:hover {
        cursor: text;
    }
}


.active-list-item-content-form {
    display: flex;
    width: 100%;
}


// ------------------------------------
// Buttons at the top of the main secion
// ------------------------------------
.top-row-buttons-container {
    background-color: map-get($map: $colors-primary, $key: "lightest");
    border-bottom: 1px solid map-get($map: $colors-primary, $key: "lighter");
}

.top-row-buttons { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-row-button {
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .top-row-button {
        font-size: 40px;
    }
}

// ------------------------------------
// List settings modal
// ------------------------------------
#modal-list-settings {
    .modal-header {
        border-bottom: 1px solid map-get($colors-primary, "light");
        display: flex;
        align-items: center;
        background-color: map-get($colors-primary, "lighter");
    }

    .modal-title {
        color: map-get($colors-primary, "darkest");
        font-weight: 600;
    }

    .modal-list-settings-section {
        margin-bottom: 50px;
    }

    .modal-list-settings-section-header {
        border-bottom: 1px solid map-get($colors-grays, "lighter");
        padding-bottom: 5px;
        color: map-get($colors-grays, "darkest");
        margin-bottom: 12px;
        font-size: 2rem;
    }

    .modal-body {
        background-color: map-get($colors-grays, "lightest");
    }
}





