{#

This is the section dedicated to displaying the list of tags that the user owns.

Incoming data:
- tags (list)
- id
- name
- color
- color_text
- created_on
#}


<ul class="list-group">
    {% for tag in data.tags %}

    <li class="list-group-item tags-list-group-item" data-tag-id="{{tag.id}}">
        <!-- tag display section -->
        <div class="tags-list-group-item-display">
            <span class="badge badge-pill tag-badge {{ tag.text_color }} user-select-all" style="background-color: {{tag.color}}; color: {{tag.color_text}};">{{tag.name}}</span>

            <div>
                <button type="button" class="tags-list-group-item-btn-edit btn btn-sm btn-gray">Edit</button>
                <button type="button" class="tags-list-group-item-btn-delete btn btn-sm btn-gray text-danger">Delete</button>
            </div>
        </div>

        <!-- edit tag form -->
        <div class="tags-list-group-item-form-container d-none">
            <form class="tags-form-edit">
                <div class="form-row">
                    <!-- name -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <input type="text" class="form-control form-control-sm tags-form-edit-input-name" required value="{{tag.name}}" required>
                    </div>

                    <!-- color -->
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <input type="color" class="form-control form-control-sm tags-form-edit-input-color" required value="{{tag.color}}" required>
                    </div>
                    
                    
                    <div class="col-md-12 col-lg-4 d-flex justify-content-end">
                        <!-- submit -->
                        <button type="submit" class="tags-form-edit-btn-submit btn btn-sm btn-success mr-1">Save changes</button>

                        <!-- cancel -->
                        <button type="button" class="tags-form-edit-btn-cancel btn btn-sm btn-gray">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </li>

    {% endfor %}
</ul>