{#

This is the top document for the home page.

Incoming data (data):
    - lists

#}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Home page</title>
</head>

<body>

    <div class="d-flex" id="page">
        {% include 'home/sidenav.html' %}

        <section id="main" class="container-fluid">
            <h3>Main</h3>
            <button type="button" class="btn btn-primary" onclick="toggleSidenav()">Toggle sidenav</button>


            <div class="container-fluid board-wrapper">
                <div class="active-lists-board">
                    <!-- active lists go here -->
                </div>
            </div>

        </section>
    </div>

    {% include 'includes/footer.html' %}
    <script src="/static/js/custom/pages/home/sidenav-form-list.js"></script>
    <script src="/static/js/custom/pages/home/item-html.js"></script>
    <script src="/static/js/custom/pages/home/list-html.js"></script>
    <script src="/static/js/custom/pages/home/item-creator.js"></script>
    <script src="/static/js/custom/pages/home/main.js"></script>
</body>

</html>