{#

This is the top document for the home page.

Incoming data (data):
    - lists

#}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Home page</title>
</head>

<body>

    <div class="d-flex" id="page">
        {% include 'home/sidenav.html' %}

        <section id="main" class="container-fluid">
            <h3>Main</h3>
            <button type="button" class="btn btn-primary" onclick="toggleSidenav()">Toggle sidenav</button>


            

            <div class="active-lists-container mt-5">

                <div class="card active-list">
                    <div class="card-header">
                        <div><h4>List name here</h4></div>
                        
                        <div class="list-header-buttons">
                            <div class="dropdown mr-2">
                                <button class="close" type="button" data-toggle="dropdown"><i class='bx bx-dots-horizontal'></i></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another action</button>
                                    <button class="dropdown-item" type="button">Something else here</button>
                                </div>
                            </div>
    
                            <button type="button" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <form>
                            <input class="form-control form-control-sm" type="text" placeholder="Add new item...">
                        </form>
                    </div>
                </div>

            </div>





        </section>
    </div>

    {% include 'includes/footer.html' %}
    <script src="/static/js/custom/pages/home/sidenav-form-list.js"></script>
    <script src="/static/js/custom/pages/home/list.js"></script>
    <script src="/static/js/custom/pages/home/main.js"></script>
</body>

</html>