<!-- Modal -->
<div class="modal fade" id="modal-list-settings" tabindex="-1" data-list-id>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h3 class="modal-title">Settings</h3>
                <button type="button" class="close" data-dismiss="modal" id="modal-list-settings-btn-close-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- settings -->
                <div class="modal-list-settings-section mt-2">
                    <h4 class="modal-list-settings-section-header">Basic</h4>

                    <div class="modal-list-settings-section-content">
                        <form id="list-rename-form">
                            <!-- name -->
                            <div class="form-group">
                                <label for="list-rename-form-input" class="font-weight-bold">Name</label>
                                <input type="text" class="form-control form-control-sm" id="list-rename-form-input">
                            </div>
        
                            <!-- type -->
                            <div class="form-group">
                                <div class="font-weight-bold mb-2">Type</div>
                                
                                <!-- list -->
                                <div class="form-check form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="list-rename-form-type-radio-option" value="list" checked> List
                                    </label>
                                </div>
        
                                <!-- template -->
                                <div class="form-check form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="list-rename-form-type-radio-option" value="template"> Template
                                    </label>
                                </div>
                            </div>
                        </form>
                        <!-- save list options form changes -->
                        <button type="button" class="btn btn-sm btn-success" id="list-rename-form-save">Save changes</button>
                        <!-- <button type="button" class="btn btn-sm btn-gray" id="list-rename-form-save">Save changes</button> -->
                    </div>
                </div>

                <!-- clone list -->
                <div class="modal-list-settings-section">
                    <h4 class="modal-list-settings-section-header">Clone</h4>

                    <div class="modal-list-settings-section-content">
                        <p>Create a copy of this list and its current items.</p>
                        <button type="button" class="btn btn-sm btn-gray" id="modal-list-settings-btn-clone">Clone list</button>
                    </div>
                </div>

                <!-- delete list -->
                <div class="modal-list-settings-section">
                    <h4 class="modal-list-settings-section-header">Delete</h4>

                    <div class="modal-list-settings-section-content">
                        <p>Once you delete a list, there is no going back. Please be certain.</p>
                        <!-- <button type="button" class="btn btn-sm bg-gray-lightest text-danger" id="modal-list-settings-btn-delete">Delete this list</button> -->
                        <button type="button" class="btn btn-sm btn-gray text-danger" id="modal-list-settings-btn-delete">Delete this list</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>