<!-- Modal -->
<div class="modal fade" id="modal-list-rename" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rename a list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="list-rename-form">
                    <div class="form-group">
                        <label for="list-rename-form-input">New name</label>
                        <input type="text" class="form-control" id="list-rename-form-input">
                    </div>
                </form>

                <button type="button" class="btn btn-success">Save changes</button>
            </div>
    </div>
</div>