<!-- Modal -->
<div class="modal fade initial" id="modal-templates" tabindex="-1" data-list-id>
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Templates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- template select input-->
                <select class="form-control" id="modal-templates-select">
                    <!-- placeholder option -->
                    <!-- <option selected disabled class="d-none">Select template</option> -->

                    {% for template in data.templates %}
                    <option value="{{template.id}}">{{template.name}}</option>
                    {% endfor %}
                </select>

                <hr>

                <div class="p-3" id="modal-templates-body-items">

                    <input class="form-control form-control-sm" type="text" placeholder="Add new item...">

                    <!-- template items go here -->
                    <div id="modal-templates-items-container"></div>

                </div>


                <!-- loading spinner screen -->
                <div class="p-3" id="modal-templates-body-loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" title="Copy this template into a list" class="btn btn-sm btn-primary" id="modal-templates-footer-btn-clone">Clone</button>

                <!-- rename template dropdown -->
                <div class="dropdown" id="modal-templates-rename-dropdown">
                    <button type="button" data-offset="10,20" title="Rename this template" data-toggle="dropdown" class="btn btn-sm btn-light">Rename</button>
                    <div class="dropdown-menu">
                        <form class="px-4 py-3">
                            <input type="text" class="form-control form-control-sm mb-2" id="modal-templates-footer-rename-input">
                            <button type="button" class="btn btn-sm btn-success" id="modal-templates-footer-rename-btn">Save</button>
                        </form>
                    </div>
                </div>


                <button type="button" title="Delete this template" class="btn btn-sm btn-outline-danger" id="modal-templates-footer-btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>