<!-- Modal -->
<div class="modal fade" id="modal-templates" tabindex="-1" data-list-id>
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Templates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- template select input-->
                <select class="form-control" id="modal-templates-select">
                    <!-- placeholder option -->
                    <option selected disabled class="d-none">Select template</option>

                    {% for template in data.templates %}
                        <option value="{{template.id}}">{{template.name}}</option>
                    {% endfor %}
                </select>

                <hr>
                
                <div class="p-3" id="modal-templates-body-items">
                    
                    <form>
                        <input class="form-control form-control-sm" type="text" placeholder="Add new item...">
                    </form>

                    <!-- template items go here -->
                    <div id="modal-templates-items-container"></div>

                </div>

                <div class="p-3" id="modal-templates-body-loading">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary">Clone</button>
                <button type="button" class="btn btn-sm btn-secondary">Rename</button>
                <button type="button" class="btn btn-sm btn-secondary">New</button>
                <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>