{#
This comprises the navigation button row at the top of the home page.
#}

<div class="top-row-buttons-container">

    <div class="container-fluid">
        <div class="top-row-buttons">
            <!-- button to open the sidenav -->
            <button type="button" class="top-row-button btn no-focus-outline" id="btn-show-sidenav" title="Show list menu"><i class='bx bx-menu'></i></button>

            <div class="d-flex">
                <!-- logout -->
                <a href="/login" class="top-row-button mr-3" title="Logout"><i class='bx bx-log-out'></i></a>

                <!-- link to github repo -->
                <a href="https://github.com/rrickgauer/lists" class="top-row-button" target="_blank" title="View GitHub repository"><i class='bx bxl-github'></i></a>
            </div>
        </div>

    </div>


</div>